* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    list-style-type: none;
    box-sizing: border-box;
}

header {
    max-width: 1600px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

a, a:link {
    text-decoration: none;
}

/* Universal Styling */

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section {
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
  }
  
  .sub-section {
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
  }
  
  .section-title-01 {
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, #0e2431 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
  }
  
  .section-title-02 { 
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
  }
  
  .section-title-02:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: #2D6BB4;
  }
  
  .container {
    position: relative;
    flex-direction: column;
  }

/* Nav */

nav {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
  }
  
  nav.sticky {
    background: rgba(#255, #255, #255, 0.1);
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  }
   
  .nav-bar {
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: 6s ease;
  }
  
  nav.sticky .nav-bar {
    height: calc(2.5rem + 1rem);
  }
  
  .nav-bar .logo {
    color:  #0e2431;
    font-size: 2em;
    font-weight: 600;
  }
  
  .nav-items a{
    color:  #0e2431;
    font-size: 1em;
    font-weight: 500;
  }
  
  .nav-items a.active{
    color: #2D6BB4;
  }
  
  .nav-items a:not(:last-child) {
    margin-right: 50px;
  }
  
  .nav-items a:hover {
    color: #2D6BB4;
  }
  
  .nav-menu-btn {
    display: none;
  }

.menus {
    display: flex;
    justify-content: space-around;
    place-items: center;
    gap: 3rem;
}

.menus a {
    position: relative;
}

.menus a::before {
    content: "";
    width: 0%;
    background-color: black;
    height: 3px;
    bottom: 0;
    position: absolute;
    transition: .3s;
}

.menus a:hover:before {
    width: 100%;
}

.header-container {
    display: flex;
    place-items: center;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    transition: all .3s ease;
}

.nav-icon-container {
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
}

.nav-icon {
    width: 50px;
    height: 50px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: flex-end;
    gap: 10%;
    padding-right: .6em;
}

.line-1 {
    width: 70%;
    background: #000000;
    height: 5px;
}

.line-2 {
    width: 50%;
    background: #000000;
    height: 5px;
}

.line-3 {
    width: 30%;
    background: #000000;
    height: 5px;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 1070px) {
    .navigation{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--transparent-color-01);
      visibility: hidden;
      opacity: 0;
      transition: .3s ease;
    }
  
    .navigation.active{
      visibility: visible;
      opacity: 1;
  }
    .nav-items{
      position: relative;
      background: var(--modal-bg-color);
      width: 600px;
      max-width: 600px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 20px;
      padding: 40px;
      border-radius: 10px;
      box-shadow: var(--box-shadow);
      transform: translateY(-50px);
      transition: .3s ease;
  }
  
  
  .navigation.active .nav-items{
      transform: translateY(0);
  }
  
  .nav-close-btn{
      position: absolute;
      background: url(../Assets/close-btn.png) no-repeat;
      filter: var(--color-filter);
      background-size: 12px;
      background-position: center;
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
      margin: 10px;
      cursor: pointer;
  }
  
    .nav-menu-btn {
      background: url(../Assets/menu-btn.png) no-repeat;
      filter: var(--color-filter);
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: block;
    }
  
    .nav-items a:not(:last-child) {
      margin-right: 0px;
    }
  }

/* Home Page */
.home {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.home .home-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home-container .media-icons {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.media-icons {
    font-weight: 300;
}

.home-container .media-icons a{
    color: #2D6BB4;
    font-size: 1.5em;
    margin: 10px 0;
}

.home-container .media-icons a:hover{
    color: #3D95DF;
}

.home-container .info-home h2 {
    font-size: 4em;
    font-weight: 600;
    line-height: 70px;
}

.home-container .info-home h3{
    color: #777;
    font-feature-settings: 1.3em;
    font-weight: 600;
    line-height: 50px;
}

.home-container .info-home p {
    color: #777;
    font-size: 1em;
    max-width: 350px;
}

.btn {
    background: #2D6BB4;
    color:#fff;
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px 10px;
    border-radius: 10px;
}

.btn:hover{
    background: #3D95DF;
    color: #fff;
}

.home-container .home-img{
    position: relative;
    width: 100em;
}

.home-container .home-img img{
    width: 90%;
    transform: translate(0, 0);
}

.info-home h3 {
    font-size: 2.5em;
    color: #777777;
}

.to-top {
    width: 50px;
    height: 50px;
    background-color: #2D6BB4;
    color: white;
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    right: 10%;
    bottom: 5%;
    border: white solid 1px;
    z-index: 999;
}


@media screen and (max-width: 1070px){
    .home .home-container .info-home {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 730px){
    .home-container .home-img{
        display: none;
    }

    .home .home-container {
        display: grid;
    }
       
    .home-container .home-img img {
        width: 65%;
        transform: translate(80px, -180px);
    }

    .home .home-container .info-home {
        font-size: 0.8rem;
    }

    .media-icons {
        margin-bottom: 80px;
    }
}

/* About Me Section */
.about .about-container .content {
    column-gap: 40px;
    width: 100%;
}

.about-img {
    border-radius: 10px;
}

.about-img img {
    max-width: 100%;
    min-width: 500px;
    width: 200px;
    border-radius: 10%;
}

.about-info .description{
    max-width: 600px;
}

.about-info .description h3{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4 span {
    color:  #2D6BB4;
}    

.about-info .description p {
    color:  #777;
    font-size: 1em;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid #d7d7d7;
}

.about-info .professional-list {
    display: flex;
    column-gap: 30px;
}

h3 {
    font-size: 2.5em;
    font-weight: 700;
}

.about-info .professional-list .list-item span{
    color:  #777;
    font-size: 0.9em;
}

.about-info .professional-list .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1070px){
    .about .container .content {
        display: grid;
        width: 100%;
        row-gap: 20px;
        background: #ffffff;
    }

    .about-img img {
        min-width: 0;
        width: 100%;
    }
    
    .about-info {
        min-width: 0;
        width: 100%;
    }

    .about-info .professional-list {
        flex-direction: row;
    }

    .about-info .professional-list .list-item {
        justify-content: start;
    }
}

/* Portfolio Section */

.portfolio .container .content {
    width: 100%;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 100%;
    gap: 35px;
    margin: 0 auto;
}

.portfolio-list .img-card {
    position: relative;
    max-width: 100%;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
}

.portfolio-list .img-card .overlay {
    transition: 1s ease;
}

.portfolio-list .img-card:hover .overlay {
    z-index: 777;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.portfolio-list .img-card .info{
    z-index: 777;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: #fff;
    transform: translateY(20px);
    opacity: 0;
    transition: .5s ease;
}
    
.portfolio-list .img-card:hover .info {
    transform: translateY(0);
    opacity: 1;
}

.portfolio-list .img-card .info h3 {
    font-size: 1.5em;
}

.portfolio-list .img-card .info h3 {
    font-size: 1.2em;
}

.portfolio-list .img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-model {
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background:  rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: 1s ease;
}

/* ========= GET IN TOUCH ========== */

.get-in-touch{
    margin-top: 70px;
}
.get-in-touch .container .content{
    width: 100%;
}
.get-in-touch .contact-card{
    position: relative;
    width: 90%;
    background: #fff;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    padding: 50px;
    border-radius: 10px;
    column-gap: 50px;
}

.contact-card .title{
    text-transform: uppercase;
    line-height: 60px;
}

.contact-card .title h4{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 20px;
    
}

.contact-card .title h3{
    font-size: 2.3em;
    font-weight: 400;
}

.contact-card .title h2{
    font-size: 4.2em;
    font-weight: 700;
    background: linear-gradient(to top, transparent 0%, #0e2431 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .9;
}
a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 1070px){
    .get-in-touch .contact-card {
        display: grid;
        width: 100%;
    }

    .contact-card .title {
        font-size: 0.8rem;
        line-height: 50px;
    }
}

@media screen and (max-width: 730px){
    .get-in-touch .contact-card {
        display: grid;
    }

    .contact-card title {
        font-size: 0.6rem;
        line-height: 40px;
    }

    .contact-card .contact-btn .btn {
        font-size: 0.8rem;
    }
}

/* Contact Section */

.contact .container .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-left h2{
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 40px;
}

.contact-list li {
    margin-bottom: 40px;
}

.contact-list li h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-list li h3 i{
    color:  #2D6BB4;
    font-size: 1.3em;
    margin-right: 10px;
}

.contact-list li h3 span {
    color:  #777;
    margin-left: 40px;
}

.contact-list li span a {
    color:  #777;
}

.contact-right p {
    color:  #777;
    font-size: 1.6em;
    margin-bottom: 30px;
}

.contact-right p span {
    color: var#0e2431;
    font-weight: 700;
}

.contact-form input, .contact-form textarea {
    border: none;
    color: #0e2431;
    background: rgba(18, 26, 83, 0.256);
    font-size: 1em;
    margin-bottom: 20px;
    padding: 15px 40px 40px 20px;
    border-radius: 5px;
}

.contact-form textarea{
    width: 100%;
    resize: none;
}

::placeholder {
    color: var#0e2431;
}

.contact-form .first-row input {
    width: 100%;
}

.contact-form .second-row {
    display: flex;
    justify-content: space-between;
}

.contact-form .second-row input {
    width: 48%;
}

.contact-form .btn {
    border: none;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1070px){
    .contact .contact-left{
        margin-bottom: 40px;
    }

    .contact-form .second-row input{
        width: 100%;
    }
    
    .contact .content{
        flex-direction: column;
        font-size: 0.9rem;
    }

    .contact-form .second-row{
        flex-direction: column;
    }
        
}

/* Footer Section */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #2D6BB4;
    margin-top: 50px;
    padding: 3rem 2rem;
    color: #fff;
    width: 100%;
}

footer a {
    color: #fff;
}

.footer-container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;
}

.footer-container .about h2 {
    font-size: 3em;
    font-weight: 600;
}

.footer-container .about p{
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 30px;
}

.footer-container .info,
.footer-container .follow{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-container .info h3,
.footer-container .follow h3{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 30px;
}


.footer-container .info ul,
.footer-container .follow ul{
    display: flex;
}

.footer-container .info a{
    margin: 20px;
}

.footer-container .follow a{
    font-size: 1.5em;
    margin: 20px;
}

.footer-copyright p {
    font-size: 1em;
    font-weight: 300;
    margin-top: 50px;
}

a:hover {
    color: white
}

@media screen and (max-width: 1070px){
    footer .footer-container {
        flex-direction: column;
    }

    .footer-container .about, .footer-container .info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .footer-container .info ul {
        align-items: center;
        flex-direction: column;
    }

    .footer-container .info ul li{
        margin: 5px 0;
    }
        
    .footer-container .hr{
        width: 100%;
        height: 2px;
        background: ☐rgba(255, 255, 255, 0.1);
        margin: 10px 0 22px;
    }

}